{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>YT Video Download</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'styles.css' %}?{% now "U" %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body class="home-page">
		<header>
			<p class="logo">Youtube Video Downloader</p>
			<input type="checkbox" id="click">
			<label for="click" class="menu-btn">
				<i class="fas fa-bars"></i>
			</label>
		
			<ul class="nav__links">
				<li><a href="/">Youtube</a></li>
				<li><a class="active" href="/">Music</a></li>
				<li><a href="about/">About</a></li>
			</ul>
		
			<a class="cta" href="#"><button>Contact</button></a>
		</header>

		<div class="heading">
			Single Music
		</div>
		
		<form action="/download-music/" class="search-form" method="get">
			<div class="form">
				<!--<label for="link">Enter Link</label>-->
				<input type="text" id="link" name="url" placeholder="Enter link here">
			</div>
			<button type="submit">Enter</button>
		</form>

		<div class="heading">
			Playlist
		</div>
		
		<form action="/download-playlist/" class="search-form" method="get">
			<div class="form">
				<!--<label for="link">Enter Link</label>-->
				<input type="text" id="link" name="url" placeholder="Enter link here">
			</div>
			<button id="idk" type="submit">Enter</button>
		</form>
		<script>
			document.getElementById('idk').addEventListener("click", function(){ alert("Download has started pls wait 5-10 mins"); });
		</script>

	</body>
</html>