{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>YT Video Download</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'styles.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body class="home-page">
		<header>
			
			<div class="logo">
				Youtube Video Downloader
				<input type="checkbox" id="click">
				<label for="click" class="menu-btn">
					<i class="fas fa-bars"></i>
				</label>
			</div>
			<nav>
				<ul class="nav__links">
					<li><a class="active" href="/">Youtube</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Whatsapp Status</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</nav>
			<a class="cta" href="#"><button>Contact</button></a>
		</header>
	</body>
</html>